sudo: required
language: cpp
os:
  - linux
compiler: 
  - gcc
before_install:
  - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
script:
    - make
